# VSCode
.vscode/
**/.vscode/

# Build outputs
build/
**/build/

# Pico / CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.elf
*.uf2
*.bin
*.map
*.hex
*.dis
*.o

# Linux kernel module build
*.ko
*.mod
*.mod.c
*.cmd
Module.symvers
modules.order
.tmp_versions/

# Node.js
node_modules/
.env

# OS
.DS_Store
Thumbs.db